<div #containerPertumbuhanKasus class="container-pertumbuhan-kasus">
    <div #chartPertumbuhanKasus class="chart-pertumbuhan-kasus" (window:resize)="onResize($event)">
        <div *ngIf="loading" class="loading-container">
            <div class="loading-overlay d-flex justify-content-center align-items-center">
                <div class="d-inline-block">
                    <i class="fas fa-circle-notch fa-spin text-green-600"></i> Memuat
                </div>
            </div>
        </div>
    </div>
</div>
