app-comp-chart-tren {
    position: relative;

    .loading-container {
        width: 100%;
        height: 100%;

        .skeleton {
            height: 100%;
        }
    }

    #chart-tren {
        height: inherit;
        width: inherit;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        .line {
            fill: none;
            stroke: var(--bs-yellow-700);
            stroke-width: 2;
        }

        .bound {
            fill: rgba(0, 0, 0, 0.1)
        }

        .axis--y {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #dcdcdc;
                }
            }
        }

        .grid {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #f5f5f5;
                    opacity: .5;
                }
            }
        }
    }
}

.bootstrap-dark {
    app-comp-chart-tren {
        #chart-tren {
            .bound {
                fill: rgba(255, 255, 255, 0.1)
            }

            .axis--y {
                .tick {
                    line {
                        stroke: #dcdcdc;
                    }
                }
            }

            .grid {
                .tick {
                    line {
                        stroke: #f5f5f5;
                    }
                }
            }
        }
    }
}
