<app-private-navbar></app-private-navbar>
<div class="d-flex"
     id="wrapper"
     [ngClass]="{
       'toggled': toggleSidebarEmitter$ | async
     }">
  <app-private-sidebar id="sidebar-wrapper"></app-private-sidebar>
  <div id="page-content-wrapper" class="pb-5">
    <router-outlet></router-outlet>
  </div>
</div>
<app-private-footer></app-private-footer>
