#wrapper {
  overflow-x: hidden;

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    -webkit-box-shadow: 0 0 21px 0 rgb(89 102 122 / 10%);
    box-shadow: 0 0 21px 0 rgb(89 102 122 / 10%);
    border: none;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  &.toggled {
    #sidebar-wrapper {
      margin-left: 0;
    }
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    &.toggled {
      #sidebar-wrapper {
        margin-left: -15rem;
      }
    }
  }
}

::ng-deep #wrapper {
  #page-content-wrapper {

    .header-page,
    .main-page {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.toggled {
    #page-content-wrapper {

      .header-page,
      .main-page {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  ::ng-deep #wrapper {
    #page-content-wrapper {

      .header-page,
      .main-page {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }
}
