<div class="form-group" [class]="classRow">
    <label>{{ label }}</label>
    <input class="form-control"
        [type]="type"
        [class]="className"
        [placeholder]="placeholder"
        [formControl]="customFormControl" />
</div>
