app-comp-chart-mobilitas {
    position: relative;

    .loading-container {
        width: 100%;
        height: 100%;

        .skeleton {
            height: 100%;
        }
    }

    #chart-mobilitas {
        height: inherit;
        width: inherit;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        .line, .line-secondary {
            fill: none;
            stroke: #FFA600;
            stroke-width: 2;
        }

        .line-secondary {
            stroke: var(--bs-gray-300);
            stroke-width: 1;
        }

        .axis--y {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #dcdcdc;
                }
            }
        }

        .grid {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #f5f5f5;
                    opacity: .5;
                }
            }
        }
    }
}

.bootstrap-dark {
    app-comp-chart-mobilitas {
        #chart-mobilitas {
            .line {
                stroke: #FFA600;
            }

            .line-secondary {
                stroke: #6a7074;
            }

            .axis--y {
                .tick {
                    line {
                        stroke: #dcdcdc;
                    }
                }
            }

            .grid {
                .tick {
                    line {
                        stroke: #f5f5f5;
                    }
                }
            }
        }
    }
}
