<div #chartMobilitas id="chart-mobilitas" (window:resize)="onResize($event)">
    <div *ngIf="loading" class="d-flex justify-content-center loading-container">
        <div class="skeleton skeleton-chart-columns"
             style="
            --cols: 10;
            --col-w: 70px;
            --col-gap: 12px;
            --chart-h: 350px;
            --bg: #f5f5f5;
            --shine: #fff;"></div>
    </div>
</div>

<div class="legend-container legend-mobilitas d-flex justify-content-center align-items-center flex-wrap"></div>
<div *ngIf="!loading" class="w-100 d-flex justify-content-center align-items-center flex-wrap mt-2">
    <button class="btn btn-outline-secondary btn-sm" id="btn-mobilitas-more" type="button" (click)="toggleLegend($event)">Tampilkan lebih banyak</button>
</div>
