<button class="btn btn-success"
        [type]="type"
        [disabled]="isDisabled || isLoading">
  <span *ngIf="!isLoading">{{ text }}</span>
  <span *ngIf="isLoading"><i class="fas fa-circle-notch fa-spin"></i></span>
</button>
