app-comp-chart-kemacetan {
    position: relative;

    .loading-container {
        width: 100%;
        height: 100%;

        .skeleton {
            height: 100%;
        }
    }

    #chart-kemacetan {
        height: inherit;
        width: inherit;
        position: relative;

        .axis--color {
            .tick line {
                stroke: #fff;
            }
        }
        .kemacetan-dates {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .legend-kemacetan-color {
        position: relative;

        svg {
            position: relative;
        }
    }
}

.bootstrap-dark {
    .legend-kemacetan-color {
        svg text {
            fill: #fff;
        }
    }
}
