<div class="map-container">
    <div class="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
    <div class="map-description" *ngIf="dataset">
        <div class="row mb-2">
            <div class="col col-auto map-title">
                Peta Sebaran {{ dataFilters.sebaranType.text }}
            </div>
        </div>
        <div class="row d-inline-flex">
            <div class="col col-auto map-kasus">
                Total Kasus : {{ numberFormat(totalKasus) }}
            </div>
        </div>
    </div>
    <div class="map-controls">
        <div class="row">
            <div class="col col-auto">
                <div ngbDropdown class="d-inline-block" placement="bottom-left" display="dynamic">
                    <button class="btn btn-light" id="dropdownAction" ngbDropdownToggle><i class="fas fa-filter"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownAction">
                        <ng-container *ngFor="let type of sebaranType">
                            <button ngbDropdownItem *ngIf="dataFilters" [class.active]="dataFilters.sebaranType.subindex == type.subindex" (click)="selectSebaranType(type)">
                                <i class="fas fa-circle d-inline-block" [style]="'color: ' + type.color"></i>
                                <span class="d-inline-block ms-2">{{ type.text }}</span>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="loading" class="d-flex justify-content-center loading-container">
        <div class="skeleton skeleton-image" *ngIf="loading" style="
            --i-w: 400px;
            --c-bg: #f5f5f5;
            --shine: #fff;"></div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-11 mx-auto">
      <div class="legend-sebaran" (window:resize)="onResize($event)"></div>
    </div>
  </div>
</div>
