.map-container {
    position: relative;

    .loading-container {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .map {
        height: 400px;
        padding: 0;
    }

    .map-controls {
        position: absolute;
        right: 16px;
        top: 10px;
        z-index: 999;

        #dropdownAction:after {
            display: none;
        }
    }

    .map-description {
        position: absolute;
        left: 25px;
        top: 10px;
        z-index: 999;

        .map-title {
            border: 2px solid rgba(206,181,28,.9);
            background: rgba(206,181,70,.9);
            color: #fff;
            padding: .5rem;
            border-radius: .25rem;
            font-size: 16px;
        }

        .map-kasus {
            border: 2px solid #4a5568;
            background-color: #4a5568;
            color: #fff;
            padding: .5rem;
            border-radius: .25rem;
            font-size: 16px;
        }
    }
}

.legend-sebaran {
    position: relative;
    width: 100%;

    svg {
        position: relative;
    }
}

.d-inline-flex {
    display: inline-flex;
}

.bootstrap-dark {
    .legend-sebaran {
        svg text{
            fill: #fff;
        }
    }
}
