.form-inline {
    display: inline-flex;

    .form-group:not(.hidden) .input-group {
        position: relative;

        .form-control {
            border-radius: 0.25rem;
        }

        .input-group-append {
            height: 100%;

            .btn {
                height: 100%;
                padding: 0.375rem 1rem;
            }

            .btn:active, .btn:focus {
                outline: none !important;
                box-shadow: none;
            }
        }
    }
}
.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;

    input {
        opacity: 0;
    }
}
.datepicker-input {
    min-width: 255px;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: var(--bs-gray-400);
}
.custom-day.range, .custom-day:hover {
    background-color: var(--bs-blue-700);
    color: white;
}
.custom-day.faded {
    background-color: var(--bs-blue-600);
}
ngb-datepicker-navigation-select > .form-select:last-child {
    margin-left: 10px;
}
