app-comp-chart-kemacetan,
app-comp-chart-dirumah,
app-comp-chart-tren,
app-comp-chart-proyeksi,
app-comp-chart-tren-indonesia,
app-comp-chart-mobilitas {
    width: 100%;
    height: 500px;
}

.card-chart {
    .card-body {
        padding-bottom: 50px;
    }
}
