<section class="navbar-page">
    <app-header-page
        [label]="label"
        [description]="description"></app-header-page>

    <div class="main-page">
        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Proyeksi Angka Positif COVID-19 di Jawa Barat</h5>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataProyeksiFilter"
                                        (setFilters)="dataProyeksiFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3 align-items-center">
                                <div class="col">
                                    <p>Visualisasi angka <b>{{ dataProyeksiFilter.proyeksiOption.text }}</b> positif COVID-19 di Jawa Barat</p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-2">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ dataProyeksiFilter.proyeksiOption.text }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem *ngFor="let option of proyeksiOptions">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterProyeksiType(option)">{{ option.text }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-proyeksi [dataProyeksi]="dataProyeksi" [dataFilters]="dataProyeksiFilter"></app-comp-chart-proyeksi>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Analisis Tren Jawa Barat</h5>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataTrenJabarFilter"
                                        (setFilters)="dataTrenJabarFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3 align-items-center">
                                <div class="col">
                                    <p>Visualisasi tren di daerah <b>Jawa Barat</b></p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ this.dataTrenJabarFilter.wilayahOption.nama_wilayah }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterWilayahTrenJabar({nama_wilayah: 'JAWA BARAT', kode_bps: '32'})">JAWA BARAT</a>
                                            </li>
                                            <li ngbDropdownItem *ngFor="let wilayah of dataWilayah">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterWilayahTrenJabar(wilayah)">{{ wilayah.nama_wilayah }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block" *ngIf="dataTrenJabarFilter.wilayahOption.kode_bps === '32'">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ getKategori }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterKategoriTrenJabar('pengumuman')">RILIS PUBLIK</a>
                                            </li>
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterKategoriTrenJabar('penetapan')">PENETAPAN LAB</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-tren [dataTren]="dataTrenJabar" [dataFilters]="dataTrenJabarFilter"></app-comp-chart-tren>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Analisis Tren Indonesia</h5>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataTrenIndonesiaFilter"
                                        (setFilters)="dataTrenIndonesiaFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-tren-indonesia [dataTren]="dataTrenIndonesia" [dataFilters]="dataTrenIndonesiaFilter"></app-comp-chart-tren-indonesia>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Mobilitas Masyarakat Jawa Barat</h5>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataMobilitasFilter"
                                        (setFilters)="dataMobilitasFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3 align-items-center">
                                <div class="col">
                                    <p>Visualisasi mobilitas masyarakat di lingkungan <b>{{ dataMobilitasFilter.mobilitasOption.text }}</b></p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-2">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ dataMobilitasFilter.mobilitasOption.text }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem *ngFor="let option of mobilitasOptions">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterMobilitasType(option)">{{ option.text }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-mobilitas [dataMobilitas]="dataMobilitas" [dataFilters]="dataMobilitasFilter"></app-comp-chart-mobilitas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Dampak COVID-19 Terhadap Kemacetan di Jawa Barat</h5>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataKemacetanFilter"
                                        (setFilters)="dataKemacetanFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3 align-items-center">
                                <div class="col">
                                    <p>Visualisasi dampak COVID-19 terhadap kemacetan di daerah <b>Jawa Barat</b></p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ this.dataKemacetanFilter.wilayahOption.nama_wilayah }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterWilayahKemacetan({nama_wilayah: 'JAWA BARAT', kode_kemendagri: '32'})">JAWA BARAT</a>
                                            </li>
                                            <li ngbDropdownItem *ngFor="let wilayah of dataWilayah">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterWilayahKemacetan(wilayah)">{{ wilayah.nama_wilayah }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-kemacetan [dataKemacetan]="dataKemacetan" [dataFilters]="dataKemacetanFilter"></app-comp-chart-kemacetan>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Masyarakat Berada di Rumah Saat Pandemi Covid-19</h5>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataDirumahFilter"
                                        (setFilters)="dataDirumahFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-dirumah [dataDirumah]="dataDirumah" [dataFilters]="dataDirumahFilter"></app-comp-chart-dirumah>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
