.public-sidebar {
  .sidebar-heading {
    padding: 0.875rem 1rem;
    font-size: 1rem;
    padding-bottom: 0;

    div {
      border-radius: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0.40px;
      color: #ccc;
      padding: 6px 15px;
      padding-bottom: 0;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  .list-group {
    width: 15rem;
    padding: 0.875rem 1rem;

    .list-group-item {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative;
      border-radius: 10px;
      padding: 12px 15px;
      color: var(--bs-gray-700);
      font-size: .9rem;
      font-weight: 500;
      display: flex;
      align-items: center;

      .fas:first-child {
        margin-right: 10px;
      }

      .arrow {
        float: right;
      }
    }

    .list-group-item.active, .list-group-item.active:hover{
      background-color: #E6F6EC;
      color: var(--bs-green-700);
    }

    .list-group-item:hover {
      background-color: var(--bs-gray-100);
    }

    .list-group-item + .list-group-item.active {
      margin-top: 0;
    }

    .list-group-item-child {
      padding: 6px 15px;
    }

    .list-group-item-child,
    .list-group-item-child.active,
    .list-group-item-child.active:hover,
    .list-group-item-child:hover {
      background: transparent;
    }

    .list-group-item-child:hover {
      color: var(--bs-green-700);
    }

    .list-group-child {
      animation: .3s slideDown ease-in-out;
    }

    .fa-chevron-up {
      animation: .3s rotate;
    }
  }
}

.bootstrap-dark {
  .public-sidebar {
    .list-group {
      .list-group-item {
        color: #fff;
      }

      .list-group-item.active, .list-group-item.active:hover {
        background-color: #E6F6EC;
        color: #069550;
      }

      .list-group-child .list-group-item.active {
        background-color: transparent;
        color: #069550;
      }

      .list-group-item:hover {
        background-color: rgba(255, 255, 255, .3);
        color: #069550;
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    transform: rotate(-90px);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
