<section class="public-sidebar">
  <div>
    <div class="sidebar-heading">
      <div>
        {{ titleEmitter$ | async }}
      </div>
    </div>

    <div class="list-group list-group-flush">
      <ng-container *ngFor="let item of menuEmitter$ | async; let i = index">
        <a class="list-group-item list-group-item-action border-0"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: false }"
           [routerLink]="[item.link | localize]"
           (click)="redirectTo(item.link)">
            <i [class]="item.icon" *ngIf="item.icon"></i>
            <span class="d-inline-block">{{ item.name | translate }}</span>
            <i class="fas arrow ms-auto" [class]="((routeEmitter$ | async) === item.name.toLowerCase() ? 'fa-chevron-up' : 'fa-chevron-right')" *ngIf="item.children"></i>
        </a>
        <ng-container *ngIf="item.children">
          <div class="mt-3 mb-2 list-group-child" *ngIf="(routeEmitter$ | async) === item.name.toLowerCase()">
            <ng-container *ngFor="let child of item.children">
              <a class="list-group-item list-group-item-action list-group-item-child border-0 ps-4"
                 [routerLinkActive]="['active']"
                 [routerLink]="[item.link + child.link | localize]">
                 - {{ child.name | translate }}
              </a>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
