<div #chartDirumah id="chart-dirumah" (window:resize)="onResize($event)">
    <div *ngIf="loading" class="d-flex justify-content-center loading-container">
        <div class="skeleton skeleton-chart-columns"
             style="
            --cols: 10;
            --col-w: 70px;
            --col-gap: 12px;
            --chart-h: 350px;
            --bg: #f5f5f5;
            --shine: #fff;"></div>
    </div>
</div>

<div class="legend-container legend-dirumah d-flex justify-content-center align-items-center"></div>
