app-comp-chart-dirumah {
    position: relative;

    .loading-container {
        width: 100%;
        height: 100%;

        .skeleton {
            height: 100%;
        }
    }

    #chart-dirumah {
        height: inherit;
        width: inherit;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        .line {
            fill: none;
            stroke: var(--bs-yellow-700);
            stroke-width: 2;
        }

        .axis--y {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #dcdcdc;
                }
            }
        }

        .grid {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #f5f5f5;
                    opacity: .5;
                }
            }
        }
    }
}
