app-comp-chart-terkonfirmasi-pcr,
app-comp-chart-tren-positivity,
app-comp-chart-pcr-sumber {
    width: 100%;
    height: 500px;
}
app-comp-chart-konsentrasi-kasus {
    width: 100%;
    height: 350px;
}
app-comp-chart-pertumbuhan-kasus {
    width: 100%;
    height: 200px;
}

.card-chart {
    .card-body {
        padding-bottom: 50px;
    }
}

.card.bg-emphasize-medium-2 {
    background: #4F5050;
}
