<section class="navbar-page">
    <app-header-page
        [label]="label"
        [description]="description"></app-header-page>

    <div class="main-page">
        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Pertumbuhan Kasus Terkonfirmasi - Tes PCR Jawa Barat</h5>
                                </div>
                                <div class="col col-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataTerkonfirmasiPcrFilter"
                                        (setFilters)="dataTerkonfirmasiPcrFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4 align-items-center">
                                <div class="col">
                                    <p>Visualisasi data <b>{{ dataTerkonfirmasiPcrFilter.periodeOption.text }}</b> kasus terkonfirmasi & tes PCR di Jawa Barat</p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ dataTerkonfirmasiPcrFilter.periodeOption.text }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem *ngFor="let option of periodeOptions">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterTerkonfirmasiPcrPeriode(option)">{{ option.text }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ getKategoriTerkonfirmasiPcr }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterKategoriTerkonfirmasiPcr('')">Rilis Pusat</a>
                                            </li>
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterKategoriTerkonfirmasiPcr('lab')">Penetapan Lab</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-terkonfirmasi-pcr
                                [dataTerkonfirmasiPcr]="dataTerkonfirmasiPcr"
                                [dataFilters]="dataTerkonfirmasiPcrFilter"></app-comp-chart-terkonfirmasi-pcr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Proporsi Sample PCR Berdasarkan Sumber</h5>
                                </div>
                                <div class="col col-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataPcrSumberFilter"
                                        (setFilters)="dataPcrSumberFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4 align-items-center">
                                <div class="col">
                                    <p>Visualisasi data <b>{{ dataPcrSumberFilter.periodeOption.text }}</b> sample PCR berdasarkan sumber di Jawa Barat</p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ dataPcrSumberFilter.periodeOption.text }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem *ngFor="let option of periodeOptions">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPcrSumberPeriode(option)">{{ option.text }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block" *ngIf="dataPcrSumberFilter.periodeOption.key === 'mingguan' || dataPcrSumberFilter.periodeOption.key === 'dwimingguan'">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ getPcrSumberJenisPeriode }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPcrSumberJenisPeriode('mundur')">Periode Mundur</a>
                                            </li>
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPcrSumberJenisPeriode('maju')">Periode Maju</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-pcr-sumber
                                [dataPcrSumber]="dataPcrSumber"
                                [dataFilters]="dataPcrSumberFilter"></app-comp-chart-pcr-sumber>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Tren Positivity Rate Jawa Barat</h5>
                                </div>
                                <div class="col col-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataTrenPcrFilter"
                                        (setFilters)="dataTrenPcrFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4 align-items-center">
                                <div class="col">
                                    <p>Visualisasi data <b>{{ dataTrenPcrFilter.periodeOption.text }}</b> kasus terkonfirmasi & tes PCR di Jawa Barat</p>
                                </div>
                                <div class="col col-auto ms-auto">
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ dataTrenPcrFilter.periodeOption.text }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem *ngFor="let option of getPeriodeMingguanOptions">
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterTrenPcrPeriode(option)">{{ option.text }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block" *ngIf="dataTrenPcrFilter.periodeOption.key === 'mingguan' || dataTrenPcrFilter.periodeOption.key === 'dwimingguan'">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">
                                            {{ getTrenPcrJenisPeriode }} <i class="fas fa-chevron-down ms-2"></i>
                                        </button>
                                        <ul ngbDropdownMenu class="dropdown-menu">
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterTrenPcrJenisPeriode('mundur')">Periode Mundur</a>
                                            </li>
                                            <li ngbDropdownItem>
                                                <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterTrenPcrJenisPeriode('maju')">Periode Maju</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <app-comp-chart-tren-positivity
                                [dataTrenPcr]="dataTrenPcr"
                                [dataFilters]="dataTrenPcrFilter"></app-comp-chart-tren-positivity>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="m-0"><b>Konsentrasi Kasus Terkonfirmasi</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-konsentrasi-kasus
                                [dataKonsentrasiKasus]="dataKonsentrasiKasus"
                                dataKasusKey="confirmation_total"></app-comp-chart-konsentrasi-kasus>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="m-0"><b>Konsentrasi Kasus Terkonfirmasi - Isolasi/Dalam Perawatan</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-konsentrasi-kasus
                                [dataKonsentrasiKasus]="dataKonsentrasiKasus"
                                dataKasusKey="confirmation_diisolasi"></app-comp-chart-konsentrasi-kasus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="m-0"><b>Konsentrasi Kasus Kontak Erat - Masih Dikarantina</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-konsentrasi-kasus
                                [dataKonsentrasiKasus]="dataKonsentrasiKasus"
                                dataKasusKey="closecontact_dikarantina"></app-comp-chart-konsentrasi-kasus>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="m-0"><b>Konsentrasi Kasus Suspek - Isolasi/Dalam Perawatan</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-konsentrasi-kasus
                                [dataKonsentrasiKasus]="dataKonsentrasiKasus"
                                dataKasusKey="suspect_diisolasi"></app-comp-chart-konsentrasi-kasus>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="row mb-3">-->
<!--                <div class="col-12">-->
<!--                    <div class="card card-chart">-->
<!--                        <div class="card-header">-->
<!--                            <div class="row align-items-center">-->
<!--                                <div class="col">-->
<!--                                    <h5>Chart Pertumbuhan Kasus</h5>-->
<!--                                </div>-->
<!--                                <div class="col col-auto">-->
<!--                                    <app-comp-daterangepicker-->
<!--                                        [dataFilters]="dataTerkonfirmasiPcrFilter"-->
<!--                                        (setFilters)="dataTerkonfirmasiPcrFilter = $event"></app-comp-daterangepicker>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">-->
<!--                                <li [ngbNavItem]="1">-->
<!--                                    <a ngbNavLink>Terkonfirmasi</a>-->
<!--                                    <ng-template ngbNavContent>-->
<!--                                        <div class="row mb-3">-->
<!--                                            <div class="col">-->

<!--                                            </div>-->
<!--                                            <div class="col col-auto ms-auto">-->
<!--                                                <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">-->
<!--                                                    <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">-->
<!--                                                        {{ dataPertumbuhanKasusFilter.periodeOption.text }} <i class="fas fa-chevron-down ms-2"></i>-->
<!--                                                    </button>-->
<!--                                                    <ul ngbDropdownMenu class="dropdown-menu">-->
<!--                                                        <li ngbDropdownItem *ngFor="let option of periodeOptions">-->
<!--                                                            <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPertumbuhanKasusPeriode(option)">{{ option.text }}</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block" *ngIf="dataPertumbuhanKasusFilter.periodeOption.key === 'mingguan' || dataPertumbuhanKasusFilter.periodeOption.key === 'dwimingguan'">-->
<!--                                                    <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">-->
<!--                                                        {{ getPertumbuhanKasusJenisPeriode }} <i class="fas fa-chevron-down ms-2"></i>-->
<!--                                                    </button>-->
<!--                                                    <ul ngbDropdownMenu class="dropdown-menu">-->
<!--                                                        <li ngbDropdownItem>-->
<!--                                                            <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPertumbuhanKasusJenisPeriode('mundur')">Periode Mundur</a>-->
<!--                                                        </li>-->
<!--                                                        <li ngbDropdownItem>-->
<!--                                                            <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPertumbuhanKasusJenisPeriode('maju')">Periode Maju</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div ngbDropdown display="dynamic" class="dropdown ms-3 d-inline-block">-->
<!--                                                    <button ngbDropdownToggle class="btn btn-primary btn-sm" type="button">-->
<!--                                                        {{ dataPertumbuhanKasusFilter.terkonfirmasiOption.text }} <i class="fas fa-chevron-down ms-2"></i>-->
<!--                                                    </button>-->
<!--                                                    <ul ngbDropdownMenu class="dropdown-menu">-->
<!--                                                        <li ngbDropdownItem *ngFor="let option of terkonfirmasiOptions">-->
<!--                                                            <a class="text-decoration-none w-100 d-block px-0" href="javascript:void(0);" (click)="filterPertumbuhanKasusJenis(option)">{{ option.text }}</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-3">-->
<!--                                                <div class="card bg-emphasize-medium-2">-->
<!--                                                    <div class="card-body">-->
<!--                                                        <app-chart-pertumbuhan-kasus-->
<!--                                                            [dataPertumbuhanKasus]="dataPertumbuhanKasus"-->
<!--                                                            [dataFilters]="dataPertumbuhanKasusFilter"></app-chart-pertumbuhan-kasus>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </ng-template>-->
<!--                                </li>-->
<!--                                <li [ngbNavItem]="2">-->
<!--                                    <a ngbNavLink>Test PCR</a>-->
<!--                                    <ng-template ngbNavContent>-->
<!--                                        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko-->
<!--                                            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts-->
<!--                                            ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar-->
<!--                                            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson-->
<!--                                            8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester-->
<!--                                            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>-->
<!--                                    </ng-template>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                            <div [ngbNavOutlet]="nav" class="mt-3"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</section>
