app-comp-chart-konsentrasi-kasus {
    position: relative;

    .loading-container {
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0px 20px 100px 70px;

        .loading-overlay {
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, .8);
            color: #212121;
        }

        .skeleton {
            height: 100%;
        }
    }

    .container-konsentrasi-kasus {
        height: inherit;
        width: inherit;
        position: relative;
    }

    .chart-konsentrasi-kasus {
        height: inherit;
        width: inherit;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        .line {
            fill: none;
            stroke: var(--bs-yellow-700);
            stroke-width: 2;
        }

        .axis--y {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #dcdcdc;
                }
            }
        }

        .grid {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #f5f5f5;
                    opacity: .5;
                }
            }
        }

        .chart-label {
            font-family: "arial";
            font-weight: 600;
            font-size: 10px;
            stroke-width: .2px;
            stroke: white;
            color: black;
        }
    }
}

.bootstrap-dark {
    app-comp-chart-konsentrasi-kasus {
        .loading-container {
            .loading-overlay {
                background: rgba(31, 33, 33, .8);
                color: #fff;
            }
        }

        .chart-konsentrasi-kasus {
            .axis--growth {
                .tick {
                    line {
                        stroke: var(--bsd-emphasize-medium-2);
                    }
                }
            }
        }
    }
}
