.hljs {
    padding: 25px;
}

// card
.card {
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 15px !important;
    -webkit-box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);
    box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);
}

.card .card-header {
    background-color: #fff;
    padding: 24px !important;
    border-bottom: 1px solid #ecf3fa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.card .card-header.card-no-border {
    border-bottom: none !important;
}

.card .card-header h5 {
    font-size: 1.3rem;
}

.card .card-header h5:not(.mb-0),
.card .card-header h5:not(.m-0) {
    margin-bottom: 0;
    text-transform: capitalize;
}

.card .card-header > span {
    font-size: 12px;
    color: rgba(43, 43, 43, 0.7);
    margin-top: 5px;
    display: block;
    letter-spacing: 1px;
}

.card .card-header .card-header-right {
    border-radius: 0 0 0 7px;
    right: 35px;
    top: 33px;
    float: right;
    padding: 8px 0;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

.card .card-header .card-header-right .card-option {
    text-align: right;
    width: 35px;
    height: 20px;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.card .card-header .card-header-right .card-option li {
    display: inline-block;
}

.card .card-header .card-header-right .card-option li:first-child i {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 16px;
    color: var(--theme-deafult);
}

.card .card-header .card-header-right .card-option li:first-child i.icofont {
    color: unset;
}

.card .card-header .card-header-right i {
    margin: 0 5px;
    cursor: pointer;
    color: #2c323f;
    line-height: 20px;
}

.card .card-header .card-header-right i.icofont-refresh {
    font-size: 13px;
}

.card .card-body {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.card .card-body p:last-child {
    margin-bottom: 0;
}

.card .sub-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    margin-bottom: 8px;
    font-size: 18px;
}

.card .card-footer {
    background-color: #fff;
    border-top: 1px solid #ecf3fa;
    padding: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

// form group
.form-group, .bootstrap-dark .form-group {
    label {
        letter-spacing: 1px;
        font-size: .9rem;
    }

    .form-control {
        border-radius: .25rem;
    }
}

// button
.btn, .bootstrap-dark .btn {
    padding: 10px 16px;
    line-height: 1.5;
    border-radius: 8px;
}

// Dropdown menu
.dropdown-menu {
    .dropdown-item {
        a {
            color: var(--bs-gray-800);
        }
    }
}

// chart
div.chart-tooltip {
    position: absolute;
    z-index: 999;
    text-align: center;
    padding: 10px 15px;
    font: 12px sans-serif;
    background: var(--bs-gray-900);
    color: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0px 20px 26px -8px rgba(54, 53, 53, 0.16);
    -webkit-box-shadow: 0px 20px 26px -8px rgba(54, 53, 53, 0.16);
    -moz-box-shadow: 0px 20px 26px -8px rgba(54, 53, 53, 0.16);
}

// legend container
.legend-container {
    position: relative;

    .legend-item {
        transition: .1s ease-in-out;
        padding: 0 7px;
        border-radius: 5px;
    }

    .legend-item:hover {
        cursor: pointer;
        background: #f5f5f5;
    }

    .legend-item:not(.active) {
        span {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}

// dark mode
.bootstrap-dark .h1,
.bootstrap-dark .h2,
.bootstrap-dark .h3,
.bootstrap-dark .h4,
.bootstrap-dark .h5,
.bootstrap-dark .h6,
.bootstrap-dark h1,
.bootstrap-dark h2,
.bootstrap-dark h3,
.bootstrap-dark h4,
.bootstrap-dark h5,
.bootstrap-dark h6 {
    color: var(--bsd-text-emphasize-high);
}

.bootstrap-dark {
    // Card
    .card {
        border: none;
    }
    .card .card-header {
        background-color: transparent;
        border-bottom: 1px solid var(--bsd-emphasize-medium);
    }

    .card .card-header h5 {
        color: var(--bsd-text-emphasize-high);
    }

    .card .card-header .card-header-right {
        background-color: #fff;
    }

    .card .card-footer {
        background-color: transparent;
        border-top: 1px solid transparent;
    }

    // Navbar
    .public-navbar {
        .navbar {
            .btn-link {
                color: var(--bsd-text-emphasize-high) !important;
            }

            a {
                color: var(--bsd-text-emphasize-high) !important;
            }
        }
    }

    // Chart tooltip
    div.chart-tooltip {
        color: #fff;
        background: #2B2D2D;
    }

    // Button
    .btn {
        &.text-dark {
            color: #fff !important;
        }
    }

    // Form
    ngb-datepicker-navigation-select>.form-select {
        flex: 1 1 auto;
        font-size: .875rem;
        height: 1.85rem;
        padding: 0 .5rem;
    }

    .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
    .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
        border-radius: 0.25rem;
    }

    // Dropdown menu
    .dropdown-menu {
        .dropdown-item {
            a {
                color: var(--bsd-text-emphasize-high);
            }
        }
    }

    // legend container
    .legend-container {
        .legend-item:hover {
            background: var(--bsd-emphasize-medium-2);
        }

        .legend-item:not(.active) {
            span {
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }
}

