$black: #111313;
$emphasize-low: #1F2121;
$emphasize-medium: #292C2A;
$emphasize-medium-2: #4F5050;
$emphasize-high: #D7D7D7;

$text-emphasize-low: #AAB0B7;
$text-emphasize-medium: #868C89;
$text-emphasize-high: #E9E9E9;

:root {
    --bsd-black: #111313;
    --bsd-emphasize-low: #1F2121;
    --bsd-emphasize-medium: #292C2A;
    --bsd-emphasize-medium-2: #4F5050;
    --bsd-emphasize-high: #D7D7D7;

    --bsd-text-emphasize-low: #AAB0B7;
    --bsd-text-emphasize-medium: #868C89;
    --bsd-text-emphasize-high: #e9e9e9;
}
