<div #chartPcrSumber id="chart-pcr-sumber" (window:resize)="onResize($event)">
    <div *ngIf="loading" class="loading-container">
        <div class="loading-overlay d-flex justify-content-center align-items-center">
            <div class="d-inline-block">
                <i class="fas fa-circle-notch fa-spin text-green-600"></i> Memuat
            </div>
        </div>
    </div>
</div>

<div class="legend-container legend-pcr-sumber d-flex justify-content-center align-items-center flex-wrap"></div>
<div *ngIf="!loading && legends.length > 3" class="w-100 d-flex justify-content-center align-items-center flex-wrap mt-2">
    <button class="btn btn-outline-secondary btn-sm" id="btn-pcr-sumber-more" type="button" (click)="toggleLegend($event)">Tampilkan lebih banyak</button>
</div>

