<header class="public-navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-start">
      <div>
        <button class="toggler-navbar btn btn-link text-dark ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="isMenuCollapsed = !isMenuCollapsed">
          <i class="fas fa-project-diagram"></i>
        </button>
        <button class="toggler-sidebar btn btn-link text-dark"
                (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <a class="navbar-brand text-dark ms-2"
         [routerLink]="['/' | localize]">
        Dashboard Executive
      </a>
      <div ngbDropdown display="dynamic" class="dropdown ms-2" *ngIf="currentUser?.level == 1">
        <button ngbDropdownToggle class="btn btn-primary" type="button">
          {{ currentDashboard }} <i class="fas fa-chevron-down ms-2"></i>
        </button>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li ngbDropdownItem>
            <a class="text-gray-800 text-decoration-none w-100 d-block px-0" href="#" (click)="setDashboard($event, 'Pikobar')">Pikobar</a>
          </li>
          <li ngbDropdownItem>
            <a class="text-gray-800 text-decoration-none w-100 d-block px-0" href="#" (click)="setDashboard($event, 'Bapenda')">Bapenda</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ms-auto">
      <div class="oval" [ngClass]="{ovalSelected: currentDarkmode === false}" (click)="toggleDarkMode()">
        <div class="button" [ngClass]="{buttonSelected: currentDarkmode === true}"></div>
      </div>
    </div>
    <div ngbDropdown display="dynamic" class="dropdown" placement="bottom-right">
      <button ngbDropdownToggle class="btn btn-link" type="button">
        <app-comp-avatar-item
          [primaryText]="currentUser?.name"
          [secondaryText]="currentUser?.role?.name"
          [avatar]="{
            appearance: 'circle',
            size: 46,
            src: assetUrl + '/' + currentUser?.profile_pic
          }">
        </app-comp-avatar-item>
        <!--          [secondaryText]="levelList[(currentUser?.level || 0)]"-->
      </button>
      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <li ngbDropdownItem>
          <a class="text-gray-800 text-decoration-none w-100 d-block px-0" href="#" (click)="logout($event)">Logout</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
