.public-navbar {
  .navbar {
    padding: 0.875rem 1rem;

    .dropdown-menu-right {
      right: 0;
      left: auto !important;
    }

    .btn-link {
      text-align: left;
      text-decoration: none;
      color: #222;
    }

    .btn-link:active, .btn-link:focus {
      outline: none !important;
      box-shadow: none;
    }

    .dropdown-menu {
      li {
        a {
          cursor: pointer;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-expand-lg .toggler-navbar {
      display: none;
    }
  }
}

.oval {
  position: relative;
  margin: 10px;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #0275d8;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.ovalSelected {
  background: #fadc04;
}

.button {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f7f7f7;
  -webkit-transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.buttonSelected {
  left: 25px;
  background-color: #fff;
}
