<section class="navbar-page">
    <app-header-page 
        [label]="label" 
        [description]="description"></app-header-page>

    <div class="main-page">
        <div class="container">
            <div class="my-5">
            </div>
        </div>
    </div>
</section>