#login-container {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;

    .container {
        position: relative;
    }
}

#login-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 47%;
    height: 100%;
    background: #1976d2;
}

.bg-wave {
    position: fixed;
    left: 7%;
    transform: rotate(90deg);
    width: 100%;
}