<section id="login-container">
    <img src="/assets/images/wave.svg" alt="wave img" class="bg-wave">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://data.jabarprov.go.id/assets/images/satu-data-3.svg" class="w-100" alt="Gambar login">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="text-center mb-5">
                    <img src="https://data.jabarprov.go.id/assets/images/logo/ecosystem-data-black.svg" class="w-75" alt="Logo login">
                </div>
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="login()" [formGroup]="loginForm">
                            <p class="mb-4">
                              <b>Masuk ke dalam dashboard Business Intelligence Platform.</b>
                            </p>
                            <app-comp-input type="text"
                                placeholder="Masukkan username"
                                label="Username"
                                classRow="mb-3"
                                [customFormControl]="loginForm.get('username')"></app-comp-input>
                            <app-comp-input type="password"
                                placeholder="Masukkan password"
                                label="Password"
                                classRow="mb-4"
                                [customFormControl]="loginForm.get('password')"></app-comp-input>
                            <div class="form-group text-end">
                                <app-comp-button-loading
                                  className="btn btn-success"
                                  type="submit"
                                  text="Login"
                                  [isDisabled]="!loginForm.valid"
                                [isLoading]="loading"></app-comp-button-loading>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
