.sum-heading {
    h2 {
        font-size: 1.5rem;
        font-weight: 900;
    }
}

.card-sum {
    h3 {
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
    }

    p {
        margin: 0;
    }

    .location {
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
    }

    .count {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 45px;
        word-wrap: normal;
    }

    .count-2 {
        font-size: 24px;
        font-weight: 900;
        line-height: 36px;
        word-wrap: normal;
    }

    .growth {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .percentage {
        font-size: .875rem;
        font-weight: 900;
        line-height: 21px;
    }

    .description {
        font-size: .7rem;
        font-weight: 900;
        line-height: 14px;
        margin-top: 7px;
    }
}

.card-sum.bg-primary {
    background: rgb(44, 52, 124) !important;
    color: #fff;

    h3 {
        color: #a0aec0;
        margin-bottom: 12px;
    }

    .location, .count, .growth  {
        font-weight: 800;
    }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #27ae60;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #27ae60;
    font-weight: 900;
}

.nav-tabs .nav-link, .nav-tabs .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    color: #6c757d;
}

.card-rdt {
    color: #fff;

    h3 {
        font-size: 1.125rem;
        font-weight: 900;
    }

    .card-body h4 {
        font-size: 1.4rem;
    }

    .card-body .col-lg-3:first-child h4 {
        font-size: 2.25rem;
    }

    .card-body small{
        font-size: .875rem;
    }
}

.card-rdt-antigen {
    background: #e2a000;
}

.card-rdt-antibodi {
    background: #5aaa4e;
}

.card-test-masif {
    h3 {
        font-size: 1.25rem;
        font-weight: 900;
    }

    .btn-success {
        color: #fff;
        background: #5aaa4e;
    }
}

.card-pcr {
    background: #41a5de;
    color: #fff;

    h3 {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 6px;
    }

    span {
        font-size: 16px;
        font-weight: 100;
    }

    small {
        font-size: .875rem;
    }

    .disclaimer {
        text-align: left !important;
    }
}

.card-info {
    height: 320px;
    position: relative;

    h3 {
        font-size: 1.5rem;
        font-weight: 900;
    }

    button fa-icon{
        margin-left: 30px;
    }
}

.card-persebaran {
    background: url('/assets/images/persebaran.png') no-repeat bottom right;
    background-color: rgb(254, 197, 46);
}ng g c

.card-ketersediaan {
    background: url('/assets/images/ketersediaan.png') no-repeat bottom right;
    background-color: rgb(105, 184, 93);
}

app-comp-chart-terkonfirmasi, app-comp-chart-rasio, app-comp-map-polygon {
    width: 100%;
    height: 500px;
}

.card-chart {
    .card-body {
        padding-bottom: 50px;
    }
}

.card-chart-rasio {
    .card-body {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
