<section class="navbar-page">
    <app-header-page
        [label]="label"
        [description]="description"></app-header-page>

    <div class="main-page">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <div class="card card-sum h-100 bg-primary mb-3">
                        <div class="card-body">
                            <h3 class="text-center">TOTAL TERKONFIRMASI</h3>

                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: rgba(255, 255, 255,.6);
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-6 text-center">
                                    <p class="location">Jawa Barat</p>
                                    <p class="count">315.771</p>
                                    <p class="growth"><i class="fas fa-angle-double-up"></i> 930</p>
                                </div>
                                <div class="col-6 text-center">
                                    <p class="location">Indonesia</p>
                                    <p class="count">1.831.773</p>
                                    <p class="growth"><i class="fas fa-angle-double-up"></i> 5246</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-sum h-100 mb-3">
                        <div class="card-body">
                            <h3 class="text-center">ISOLASI/DALAM PERAWATAN</h3>
                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-6 text-center">
                                    <p class="location">Jawa Barat</p>
                                    <p class="count text-secondary">26.749</p>
                                    <p class="growth text-secondary"><i class="fas fa-angle-double-down"></i> -1969</p>
                                </div>
                                <div class="col-6 text-center">
                                    <p class="location">Indonesia</p>
                                    <p class="count text-secondary">100.364</p>
                                    <p class="growth text-secondary"><i class="fas fa-angle-double-down"></i> -961</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-sum h-100 mb-3">
                        <div class="card-body">
                            <h3 class="text-center">SELESAI ISOLASI/SEMBUH</h3>
                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-6 text-center">
                                    <p class="location">Jawa Barat</p>
                                    <p class="count text-success">284.791</p>
                                    <p class="growth text-success"><i class="fas fa-angle-double-up"></i> 2877</p>
                                </div>
                                <div class="col-6 text-center">
                                    <p class="location">Indonesia</p>
                                    <p class="count text-success">1.680.501</p>
                                    <p class="growth text-success"><i class="fas fa-angle-double-up"></i> 6022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-sum h-100 mb-3">
                        <div class="card-body">
                            <h3 class="text-center">MENINGGAL </h3>
                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-6 text-center">
                                    <p class="location">Jawa Barat</p>
                                    <p class="count text-danger">4.231</p>
                                    <p class="growth text-danger"><i class="fas fa-angle-double-up"></i> 22</p>
                                </div>
                                <div class="col-6 text-center">
                                    <p class="location">Indonesia</p>
                                    <p class="count text-danger">50.908</p>
                                    <p class="growth text-danger"><i class="fas fa-angle-double-up"></i> 185</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 mb-md-4 mb-lg-0">
                    <div class="card h-100 card-sum mb-3">
                        <div class="card-body">
                            <h3 class="text-center">KONTAK ERAT <i class="fas fa-info-circle"></i> </h3>
                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-12 text-center">
                                    <p class="count text-muted">428.294</p>
                                    <p class="growth text-muted mb-3">Total Kontak Erat</p>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <p class="count-2 text-secondary m-0">10.150</p>
                                            <p class="percentage text-secondary m-0">(2.37%)</p>
                                            <p class="description text-muted">Masih Dikarantina</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="count-2 text-muted m-0">432.031</p>
                                            <p class="percentage text-muted m-0">(97.63%)</p>
                                            <p class="description text-muted">Discarded <i class="fas fa-info-circle"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-md-4 mb-lg-0">
                    <div class="card h-100 card-sum mb-3">
                        <div class="card-body">
                            <h3 class="text-center">SUSPEK <i class="fas fa-info-circle"></i></h3>
                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-12 text-center">
                                    <p class="count text-muted">175.560</p>
                                    <p class="growth text-muted mb-3">Total Suspek</p>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <p class="count-2 text-secondary m-0">4.514</p>
                                            <p class="percentage text-secondary m-0">(2.54%)</p>
                                            <p class="description text-muted">Isolasi/Dalam Perawatan</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="count-2 text-muted m-0">173.045</p>
                                            <p class="percentage text-muted m-0">(97.46%)</p>
                                            <p class="description text-muted">Discarded <i class="fas fa-info-circle"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-md-4 mb-lg-0">
                    <div class="card h-100 card-sum mb-3">
                        <div class="card-body">
                            <h3 class="text-center">PROBABLE <i class="fas fa-info-circle"></i></h3>
                            <div *ngIf="loading" class="d-flex justify-content-center">
                                <div class="skeleton skeleton-line"
                                    style="
                                        --lines: 3;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div *ngIf="!loading" class="row">
                                <div class="col-12 text-center">
                                    <p class="count text-muted">4.559</p>
                                    <p class="growth text-muted mb-3">Total Probable</p>

                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <p class="count-2 text-secondary m-0">103</p>
                                            <p class="percentage text-secondary m-0">(2.21%)</p>
                                            <p class="description text-muted">Isolasi/Dalam Perawatan</p>
                                        </div>
                                        <div class="col-4">
                                            <p class="count-2 text-success m-0">3.007</p>
                                            <p class="percentage text-success m-0">(64.64%)</p>
                                            <p class="description text-muted">Selesai Isolasi/Sembuh</p>
                                        </div>
                                        <div class="col-4">
                                            <p class="count-2 text-danger m-0">1.542</p>
                                            <p class="percentage text-danger m-0">(33.15%)</p>
                                            <p class="description text-muted">Meninggal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Chart Harian Terkonfirmasi Jawa Barat</h5>
                                </div>
                                <div class="col col-auto">
                                    <app-comp-daterangepicker
                                        [dataFilters]="dataHarianFilter"
                                        (setFilters)="dataHarianFilter = $event"></app-comp-daterangepicker>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-comp-chart-terkonfirmasi
                                [dataHarian]="dataHarian"
                                [dataFilters]="dataHarianFilter"></app-comp-chart-terkonfirmasi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-7 mb-md-4 mb-lg-0">
                    <div class="card h-100 card-chart">
                        <div class="card-header">
                            <h5>Peta Kasus Covid-19 di Jawa Barat</h5>
                        </div>
                        <div class="card-body">
                            <app-comp-map-sebaran
                              [dataRasio]="dataRasio"
                              [dataFilters]="JSON.stringify(dataRasioFilter)"
                              [dataPolygon]="dataPolygon"
                              (setFilters)="dataRasioFilter = $event"></app-comp-map-sebaran>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card h-100 card-chart-rasio">
                        <div class="card-header">
                            <h5>Rasio Kasus Terkonfirmasi</h5>
                        </div>
                        <div class="card-body">
                            <p>Data yang ditampilkan berdasarkan: <b>Kota/Kabupaten di Jawa Barat</b></p>
                            <app-comp-chart-rasio
                                [dataRasio]="dataRasio"
                                [dataFilters]="JSON.stringify(dataRasioFilter)"></app-comp-chart-rasio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
