@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lora:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

// CORE
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/buttons';
@import 'assets/css/skeletons.scss';

// COLOR
@import 'assets/css/color.scss';

// BODY
$body-bg: #ffffff;
$body-color: $gray-800;

// FONT
.font-roboto {
  font-family: 'Roboto' !important;
}

.font-lato {
  font-family: 'Lato' !important;
}

.font-lora {
  font-family: 'Lora' !important;
}

.font-cabin {
  font-family: 'Cabin' !important;
}

$font-family-base: 'Cabin';
$font-size-base: 1rem;

// HEADING
$headings-font-family: 'Roboto';
$headings-font-weight: 'bold';
$headings-color: $gray-900;

// BUTTON
$btn-padding-y: 10px;
$btn-padding-x: 16px;
$btn-font-family: 'Cabin';
$btn-font-size: 14px;
$btn-line-height: 18px;

$btn-padding-y-sm: 8px;
$btn-padding-x-sm: 14px;
$btn-font-size-sm: 12px;

$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 18px;
$btn-font-size-lg: 16px;

$btn-border-radius: 8px;
$btn-border-radius-sm: 8px;
$btn-border-radius-lg: 8px;

// TEXT FIELD
$input-padding-y: 10px;
$input-padding-x: 8px;
$input-font-family: 'Lato';
$input-font-size: 14px;
$input-font-weight: normal;
$input-line-height: 16px;

$input-padding-y-sm: 8px;
$input-padding-x-sm: 6px;
$input-font-size-sm: 12px;

$input-padding-y-lg: 12px;
$input-padding-x-lg: 10px;
$input-font-size-lg: 16px;

$input-bg: $gray-50;
$input-disabled-bg: $gray-200;
$input-disabled-border-color: null;

$input-color: $gray-800;
$input-border-color: $gray-400;
$input-border-width: $input-btn-border-width;
$input-box-shadow: $box-shadow-inset;

$input-border-radius: 8px;
$input-border-radius-sm: 8px;
$input-border-radius-lg: 8px;

$input-placeholder-color: $gray-600;
$input-plaintext-color: $gray-50;

// TEXT FIELD GROUP
$input-group-addon-border-color: $gray-400;
@import 'assets/css/input-group.scss';

// FORM LABEL
$form-label-margin-bottom: .5rem;
$form-label-font-size: 15px;
$form-label-color: $gray-800;

.form-label {
  font-family: 'Lato' !important;
  line-height: 13px !important;
}

// CHECKBOX & RADIO
$form-check-margin-bottom: 8px;

$form-check-input-border: 2px solid $gray-600;

$form-check-input-checked-bg-color: $green-800;
$form-check-input-checked-border-color: $green-800;

$form-check-input-indeterminate-bg-color: $green-800;
$form-check-input-indeterminate-border-color: $green-800;

.form-check {
  .form-check-label {
    font-family: 'Lato';
    font-size: 14px;
  }
}

// DROPDOWN MENU
$dropdown-border-radius: 8px;

.dropdown {
  &.dropup {
    .dropdown-menu {
      margin-bottom: 8px;
    }
  }

  .dropdown-toggle {
    &:after {
      display: none !important;
    }
  }

  .dropdown-menu {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

// BREADCRUMBS
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-800;
$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#E0E0E0'/%3E%3C/svg%3E");

// SECTION MESSAGE (ALERT)
$alert-border-radius: 8px;
$alert-bg-scale: -85%;
$alert-border-scale: 0%;
$alert-color-scale: 20%;

// TABS
@import 'assets/css/tabs.scss';

// TOOLTIP
$tooltip-max-width: 275px;
$tooltip-color: $white;
$tooltip-bg: $gray-900;
$tooltip-border-radius: 8px;
$tooltip-opacity: 1;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 12px;

.tooltip {
  .tooltip-inner {
    text-align: start;
  }
}

// TABLE
@import 'assets/css/table.scss';

// LIST GROUP
$list-group-active-bg: $green;

// CORE
@import '~bootstrap/scss/bootstrap';

// CORE DARK MODE
@import '~@forevolve/bootstrap-dark/scss/dark-variables';
@import '~@forevolve/bootstrap-dark/scss/mixins-overrides';
@import '~@forevolve/bootstrap-dark/scss/dark-mixins';

@import 'assets/css/dark-color.scss';
$body-bg: $black;
$body-color: $text-emphasize-high;

// CARD DARK MODE
$card-color: $text-emphasize-low;
$card-bg: $emphasize-low;

body.bootstrap-dark {
  color: $body-color;
  background-color: $body-bg; // 2
}

.bootstrap-dark {
  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/reboot';
  @import '~bootstrap/scss/type';
  @import '~bootstrap/scss/images';
  @import '~bootstrap/scss/grid';

  @import '~bootstrap/scss/tables';
  //@import '~@forevolve/bootstrap-dark/scss/dark-tables';

  @import '~bootstrap/scss/forms';
  @import '~@forevolve/bootstrap-dark/scss/form-overrides';

  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';

  @import 'assets/css/input-group.scss';
  //@import '~@forevolve/bootstrap-dark/scss/dark-input-group';

  @import '~bootstrap/scss/nav';
  @import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/card';
  @import '~bootstrap/scss/breadcrumb';
  @import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  @import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  @import '~bootstrap/scss/close';
  @import '~bootstrap/scss/toasts';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/popover';
  @import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/utilities';

  @import '~@forevolve/bootstrap-dark/scss/navbar-themed-dark';

  @import '~@forevolve/bootstrap-dark/scss/dark-styles';
}

// ADDITIONAL
@import 'assets/css/sizing.scss';
@import 'assets/css/text-truncate.scss';
@import 'assets/css/select.scss';

// PACKAGES
@import '~placeholder-loading/src/scss/placeholder-loading.scss';
@import '~highlight.js/styles/github.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

// CUSTOMIZATION
@import 'assets/css/custom.scss';
