<section class="public-footer py-3 bg-dark">
  <footer class="footer">
    <div class="container-fluid">
      <!-- <div class="btn-group btn-group-sm"
           role="group">
        <button class="btn btn-light"
                (click)="changeLanguage('id')">id</button>
        <button class="btn btn-light"
                (click)="changeLanguage('en')">en</button>
      </div> -->
      <span class="text-white">&copy; {{ moment.year() }}. Dashboard Executive</span>
    </div>
  </footer>
</section>
